<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751826808234-4g1nsm8no68jpb5uol2d5atum3q9kio1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751826808234-4g1nsm8no68jpb5uol2d5atum3q9kio1</string>
	<key>API_KEY</key>
	<string>AIzaSyClX91diBGROIv6jOAClmI0m4SssPeS-wk</string>
	<key>GCM_SENDER_ID</key>
	<string>751826808234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tientranzt.github.io.churchMobile</string>
	<key>PROJECT_ID</key>
	<string>laravel-82163</string>
	<key>STORAGE_BUCKET</key>
	<string>laravel-82163.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751826808234:ios:d043ab39580c623b018fd3</string>
	<key>DATABASE_URL</key>
	<string>https://laravel-82163.firebaseio.com</string>
</dict>
</plist>